/* .main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-table-header{
    color: #3867d6;
    font-weight: 700;
}

.dash-head{
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.dash-body{
    color: #333333;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
}

.table-section{
    padding: 20px;
    background-color: white;
    margin-top: 30px;
}

.receiver{
    font-family: 'Cutive Mono', monospace;
    color: black;
    font-weight: 500;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-stream-btn{
    font-size: 20px;
    font-weight: 400;
    background-color: #3867d6;
    color: whitesmoke;
    border-radius: 20px;
    padding: 5px 20px;
}

.create-stream-btn:hover, .create-stream-btn:active, .create-stream-btn:focus{
    background-color: #3867d6;
    color: whitesmoke;
}

.sign-in-text{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.pay-main{
    background-color: white;
}

.pay-flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.pay-dash-head{
    margin-right: auto;
    color: #333333;
}

.top-create-btn{
    font-size: 20px;
    font-weight: 400;
    background-color: #3867d6;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 20px;
}

.top-create-btn:hover, .top-create-btn:active, .top-create-btn:focus{
    background-color: #3867d6;
    color: whitesmoke;
}

.streaming{
    color: green;
}
.cancelled{
    color: rgb(163, 18, 7);
}
.dash-row{
    border-top: 1px solid rgb(214, 213, 213);
}

.tezos-icon{
    width: 15px;
    height: 17px;
    margin-right: 7px;
} */

/* ***********************************   Dark Theme    *********************************************** */

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-table-header{
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.dash-head{
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.dash-table-body{
    color: #f5f6fa;
    font-weight: 400;
    font-size: 15px;
}

.table-section{
    padding: 20px;
    background-color: #30336b;
    margin-top: 30px;
}

table{
    color: #30336b;
}

.receiver{
    font-family: 'Cutive Mono', monospace;
    color: #dff9fb;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
}

.receiver:hover, .receiver:active, .receiver:focus{
    color: whitesmoke;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-stream-btn{
    font-size: 20px;
    font-weight: 400;
    background-color: #97D5D6;
    color: #130F40;
    border-radius: 40px;
    padding: 5px 20px;
}

.create-stream-btn:hover, .create-stream-btn:active, .create-stream-btn:focus{
    background-color: #97D5D6;
    color: #130F40;
}

.sign-in-text{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.pay-main{
    background-color: white;
}

.pay-flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.pay-dash-head{
    margin-right: auto;
    color: whitesmoke;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.top-create-btn{
    font-size: 20px;
    font-weight: 400;
    background-color: #97D5D6;;
    color: #130F40;
    border-radius: 5px;
    padding: 5px 20px;
}

.top-create-btn:hover, .top-create-btn:active, .top-create-btn:focus{
    background-color: #97D5D6;;
    color: #130F40;
}

.streaming{
    color: #97D5D6;
}
.cancelled{
    color: #fab1a0;
}
.streaming:hover, .streaming:active, .streaming:focus{
    color: #dfe6e9;
}
.cancelled:hover, .cancelled:active, .cancelled:focus{
    color: #dfe6e9;
}
.dash-row{
    border-top: 1px solid #8D8DDB;
}

.tezos-icon{
    width: 15px;
    height: 17px;
    margin-right: 7px;
}