.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-content-details{
    height: 85vh;
    margin-top: 30px;
    /* padding: 20px; */
    border-radius: 20px;
    background-color: #1d1736;
    color: white;
}

.main-card{
    border: none;
}

.title{
    text-align: center;
    color: #333333;
    font-size: 70px
}

.detail-time-flex{
    text-align: center;
    margin-top: 50px;
}

.detail-stream-amount{
    text-align: center;
}

.span-time{
    font-size: 17px;
    font-weight: 500;
    margin-right: 11px;
}

.detail-start-time{
    margin-bottom: 20px;
}

.detail-stop-time{
    margin-bottom: 30px;
}

.btn-withdraw {
    background-color: #97D5D6;
    color: #1d1736;
}

.card-status{
    color: #97D5D6;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.card-body{
    text-align: center;
}
.tezos-icon-detail{
    width: 38px;
    height: 60px;
}

.CircularProgressbar-text{
    font-weight: 90;
}

.card-custom{
    background-color: transparent;
    border: 1px solid #8D8DDB;
    color: #8D8DDB;
    border-radius: 5px;
}

.card-custom:hover, .card-custom:focus, .card-custom:active{
    background-color: #8D8DDB;
    color: #1d1736;
}

.modal-content{
    background-color: #1d1736;
    color: white;
}
.close{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.back{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.progress{
    display: inline-block;
}
